html{
	box-sizing: border-box;
}
*,*:before, *:after{
	box-sizing: inherit;
}


/* 
==================== NAVBAR =================
*/

ul
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

ul > li
{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul > li > a
{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover > li > a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul > li > a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur();
}

ul > li > a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff497c;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

ul > li > a:hover:before
{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

/* 
==================== FIM DA NAVBAR =================
*/
/* ul > li > a > div.search-box
{
    transition: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

ul > li > a > div.search-box:hover > input.search-txt
{
    width: 240px;
    padding: 0 6px;
}

ul > li > a > div.search-box:hover > a.search-btn
{
    background: white;
}

ul > li > a > div.search-box > a.search-btn
{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

ul > li > a > div.search-box > input.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
} */
/* 
==================== CAIXA DE PESQUISA =================
*/

div.search-box-format
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
}

div.search-box
{
    transition: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
	/* padding: 10px; */
	/*  */
    /* height: 15vh; */
}

div.search-box:hover > input.search-txt
{
    width: 240px;
    padding: 0 6px;
}

div.search-box:hover > a.search-btn
{
    background: white;
}

div.search-box > a.search-btn
{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

div.search-box > input.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* 
==================== FIM DA CAIXA DE PESQUISA =================
*/

/* formatação dos banners */

.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom: 1;
}
body{
	background-color: #03060d;
	background-image: linear-gradient(to right, #03060d 0%, #040d03 100%);
	font-family: "Roboto";
}
div#movies-user-search-results{
	width: 1500px;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 100px;
}

.card{
	max-width: 23%;
	margin: 0 1%;
	float: left;
	position: relative;
	transition: all 0.6s;
	perspective: 100vw;
}

.cards:hover .card{
	transform: scale(0.85);
	filter: blur(3px);
	opacity: 0.5;
}

.cards .card:hover{
	transform: scale(1);
	filter: blur(0);
	opacity: 1;
	z-index: 5;
}

.card-main{
	position: relative;
	transition: all 2s;
	transform-style: preserve-3d;
	transform-origin: 0 0;
}

.card:hover .card-main
{
	transform: translateX(50%) rotateY(-180deg) ;
}

.card-front{
	backface-visibility: hidden;
}

.card-poster{
	transition: filter 0.5s;
	max-width: 100%;
	display: block;
}

.cards:hover .card-poster{
	filter: grayscale(100%);
}

.card-back{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background-color: #2f3640;
	color: #fff;
	overflow: hidden;
}

.card-back-title{
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 25px;
	letter-spacing: 1px;
}

.card-back-description{
	margin-bottom: 20px;
	padding: 25px;
	font-weight: 300;
    line-height: 1.5;
    color: white;
}

.card-aside{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 2s;
	background-color: #2f3640;
	color: #fff;
}

.card:hover .card-aside{
	transform: translateX(50%);
}

.card-aside-score{
	background-color: rgba(255, 255, 255, 0.05);
	/* background-color: rgba(255,255,255, 0.8); */
}

.card-aside-score span{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #66cc33;
	text-align: center;
	margin-right: 10px;
    font-weight: bold;
    font-size: 25px;
}

.card-aside p{
	margin: 10px;
	text-align: center;
}

/* div#movies-user-search-results > div.container > div.card-clearfix > div.card > p > img.card */

.card-aside-img{
    width: 70%;
    height: 50%;
    border: 2px solid #fff;
    margin: 40px auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.card-aside-img{
    width: 100%;
    height: 100%;
}


/* chernobyl */

div#now-playing-movies{
    display: flex;
}

div#now-playing-movies > div.section{
	margin: 0;
	padding: 0;
	position: relative;
    /* height: 100vh; */
    display: flex;
	/* background: #000; */
}

section.split > div#now-playing-movies > div.screen{
    /* border: 5px solid white; */
	position: relative;
	flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
	transition: 1s;
}

section.split > div#now-playing-movies > div.screen > img.now-playing-banner{
    width: 400px;
}


section.split > div#now-playing-movies:hover > div.screen
{
	opacity: 0.1;

}

section.split > div#now-playing-movies > div.screen:hover{
	flex-grow: 5;
    opacity: 1;
}

section.split > div#now-playing-movies > div.screen:nth-child(1){
    background-position: center;
    margin-top: 100px;
}

section.split > div#now-playing-movies > div.screen:nth-child(1):hover{
    width: 200%;
}

section.split > div#now-playing-movies > div.screen:nth-child(2){
    background-position: center;
    margin-top: 30px;
}

section.split > div#now-playing-movies > div.screen:nth-child(2):hover{
    width: 200%;
}

section.split > div#now-playing-movies > div.screen:nth-child(3){
    background-position: center;
    margin-top: 30px;
}

section.split > div#now-playing-movies > div.screen:nth-child(3):hover{
    width: 200%;
}

section.split > div#now-playing-movies > div.screen:nth-child(4){
    background-position: center;
    margin-top: 30px;
    margin-right: 50px;
}

section.split > div#now-playing-movies > div.screen:nth-child(4):hover{
    width: 200%;
}

section.split > div#now-playing-movies > div.screen > div.content-now-playing{
    position: absolute;
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.5s;
    text-align: justify;
}

section.split > div#now-playing-movies > div.screen:hover > div.content-now-playing{
    transform: translateX(0);
    transition-delay: 0.5s;
}

section.split > div#now-playing-movies > div.screen > div.content-now-playing > h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #ed363a;
}

section.split > div#now-playing-movies > div.screen > div.content-now-playing > p{
    margin: 0;
    padding: 0;
}

section.split h2{
    color: white;
    margin-left: 60px;
    font-size: 30px;
    margin-top: -670px;
;
}